/*
Black text on a white background
*/

@import "source_code.css";

.reveal .cpp {
  color: black;
}
.reveal code {
  color: #777;
}

.hljs {
  background: white;
  color: black;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #c03;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: orange;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #0a0;
}

.hljs-string {
  color: #c0c;
}

.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #0a0;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #33c;
}
